body { 
	background-color: beige; 
	font-size: 16px;
	font-family: sans-serif;
}


#wrapper {
	margin: 2em  auto;
	max-width: 960px;
	padding:  0 20px;

}

/*--------------------------*/

#grids1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-gap: .5rem;
	width: 100%;
	margin-bottom: 100px;
}

.block {
	background-color: indianred;
}

.wide {
	grid-column: span 2;


}

.tall {
	grid-row: span 2;


}



/*--------------------------*/

#grids2 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 100px;
	grid-gap: .5rem;
	

}


.square {
	background-color: lightskyblue;


	
}


.long {
	grid-column: span 1;
		
}

.xtra {
	grid-column: span 5;
