body { 
	background-color: beige; 
}


#wrapper {
	margin: 2em  auto;
	max-width: 960px;
	padding:  0 20px;

}

.article {
	padding: 60px 0 20px 0;
	background-color: burlywood;
	text-align: center;
	overflow: hidden;
	position: relative;
	align-content: center;
	width: 900px;
}

.article div {
	position: relative;
	padding: 30px;
	

	background-color: orangered;
}
.box{
	float: right;
	box-sizing: border-box;
	width: 250px;
	border: solid black 3px;
	padding: 10 px ;
	margin: 20px;

}


.masthead{
	width:  800px;
	border: solid black 3px;
	padding: 10 px ;
	margin: 20px;

}

.half {
	padding: 50%-30px;
	background-color: blueviolet;
	float: left;
	width: 50%;
}



.secondhalf {
	padding: 50%-30px;
	color: lightblue;
	float: right;
	width: 50%;
}


.em-box {
	width: 2em;
	height: 2em;
	background-color: burlywood;

}

.newfont {
	font-size: 60px;
}




